/SwingBasic/nbproject/private/
/SwingBasic/build/
/SwingJDBCBasic/nbproject/private/
/SwingJDBCBasic/build/
/Form/nbproject/private/
/Form/build/
/CommonMenu/nbproject/private/
/CommonMenu/build/
/BookExcersize/nbproject/private/
/BookExcersize/build/
/EvidenceForm/nbproject/private/
/EvidenceForm/build/
/JDBC/nbproject/private/
/JDBC/build/
/SalesManagement/nbproject/private/
/SalesManagement/build/
/Metadata/nbproject/private/
/Metadata/build/
/Excersize/nbproject/private/
/Excersize/build/
/EvidencePractice/nbproject/private/
/EvidencePractice/build/
/FormEvidence/nbproject/private/
/FormEvidence/build/
/Sir/build/
/ImagesJDBC/nbproject/private/
/ImagesJDBC/build/
/ImagesJDBC/dist/
/DemoAprilThree/nbproject/private/
/DemoAprilThree/build/
/DemoAprilThree/dist/
/MyProject/dist/