/SwingBasic/nbproject/private/
/SwingBasic/build/
/SwingJDBCBasic/nbproject/private/
/SwingJDBCBasic/build/
/Form/nbproject/private/
/Form/build/
/CommonMenu/nbproject/private/
/CommonMenu/build/
/BookExcersize/nbproject/private/
/BookExcersize/build/
/EvidenceForm/nbproject/private/
/EvidenceForm/build/